.circleButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
    position: absolute;
}

.mainCanvasContainer {
    position: relative;
    height: 500px;
    width: 500px;
}

#mainCanvas {
    position: absolute;
}